VITE_SUPABASE_URL=https://data.remodl.ai  
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZva3NqdGpyc2hvbmphZHdqb3p0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzgwMDY4MDksImV4cCI6MjA1MzU4MjgwOX0.5xUOvmiyfJCQduvYAQse6oC7mRMICreWXsGPO7kNxok
VITE_AUTH_ENDPOINT=https://workflow.remodl.ai/api/v1/auth/confirm